<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<title>Hello MUI</title>
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">

		<link rel="stylesheet" href="css/mui.css">
		<link rel="stylesheet" href="css/style.css" />
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			
			p {
				text-indent: 22px;
			}
			h5:after{
				font-family: "icomoon";
				content: "\e315";
				
			}
			h5:before{
				font-family: "icomoon";
				content: "\e5d4";
			}
			h5, .mui-h5 {
			    font-size: 14px;
			    font-weight: 700;
			    color: #333;
			}
			td, th {
			    padding: 0;
			    position: relative;
			}
			table {
			    table-layout: fixed;
			    border-spacing: 0;
			    border-collapse: collapse;
			}
			td, th {
			    padding: 0;
			    position: relative;
			    white-space: nowrap;
			    overflow: hidden;
			    text-overflow: ellipsis;
			}
			p {
			    text-indent: 0px;
			}
			span.mui-icon {
				font-size: 14px;
				color: #007aff;
				margin-left: -15px;
				padding-right: 10px;
			}
			.mui-off-canvas-left {
				color: #fff;
			}
			.title {
				margin: 35px 15px 10px;
			}
			.title+.content {
				margin: 10px 15px 35px;
				color: #bbb;
				text-indent: 1em;
				font-size: 14px;
				line-height: 24px;
			}
			.mui-control-content .mui-loading {
				margin-top: 50px;
			}
			input {
				color: #000;
			}
			li {list-style-type:none; color: black; margin-bottom: .5em;}
			 /*ul > li:first-child{background-color: #2AC845;}*/
		</style>
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable">
			<!--侧滑菜单部分-->
			<aside id="offCanvasSide" class="mui-off-canvas-left">
				<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
					<div class="mui-scroll">
						<div id="myhead">
							<div class="myphoto">
								<img id ="head" src="img/app.png" />
							</div>
							<div>
								<p class="myname">SenchaExtJS</p>
								<p class="lv">lv.3</p>
								<p class="signin">签到</p>
							</div>
						</div>
						
						<div class="mycontent">
							<ul>
								<li class="mymessage">我的消息</li>
								<li class="myvip">会员中心</li>
								<li class="myshop">商城</li>
								<li class="onlinelis">在线听歌免流量</li>
							</ul>
						</div>
						<div class="emp"></div>
						<div>
							<ul>
								<li class="myfriends">我的好友</li>
								<li class="nearpeople">附近的人</li>
							</ul>
						</div>
						<div class="emp"></div>
						<div id="app4">
							<ul>
								<li class = "pskin">个性皮肤</li>
								<li class = "shound">听歌识曲</li>
								<li class="freeod">定时停止播放</li>
								<li class="malarm">音乐闹钟</li>
								<li class="cstyle">驾驶模式</li>
								<li class="mcloud">音乐云盘</li>
							</ul>
						</div>
					</div>
					<nav class="mui-bar mui-bar-tab">
				        <a id="nmode" class="mui-tab-item">
				            <span class="nmode">夜间模式</span>
				        </a>
				        <a id="setting" class="mui-tab-item">
				            <span class="setting">设置</span>
				        </a>
				        <a id="exit" class="mui-tab-item">
				            <span class="exit">退出</span>
				        </a>
			    </nav>
				</div>
				
			</aside>
			<!--主界面部分-->
			<div class="mui-inner-wrap">
				<header class="mui-bar mui-bar-nav">
					<a href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-left"></a>
					<a class="mui-action-back mui-btn mui-btn-link mui-pull-right">搜索</a>
					<nav class="mui-bar mui-bar-tab" id="nav">
				        <a id="mine" class="mui-tab-item" href="#tabbar">
				            <span>我的</span>
				        </a>
				        <a id="find" class="mui-tab-item mui-active" href="#tabbar-with-chat">
				            <span>发现</span>
				        </a>
				        <a id="dstate" class="mui-tab-item" href="#tabbar-with-contact">
				            <span>动态</span>
				        </a>
			    	</nav>
				</header>
				<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
					<div class="mui-scroll">
						<div class="mui-content">
							<div id="tabbar" class="mui-control-content">
								<div id="app8">
									<ul class="mui-table-view">
										<li class="mui-table-view-cell" v-for="items in item" @tap="choose">
											<img align="absmiddle" style="width: 30px;" v-bind:src = items.imgsrc />
											<span id="imgcontent">
												{{items.name}}
											</span>
											<h4 style="display: inline;">({{items.num}})</h4>
										</li>
									</ul>
								</div>
								<div >
									<li class="mui-table-view-cell mui-collapse">
										<a  class="mui-navigate" href="#">创建的歌单(1)<span style="float: right;" id="listsetting"></span></a>
										<div class="mui-collapse-content">
											<p>我喜欢的音乐</p>
										</div>
										
									</li>
									
									<!--<span id="showlist">
										创建歌单
									</span>
									<h4 style="display: inline;">(1)</h4>
									<span id="listsetting"></span>-->
								</div>
							</div>
							<div id="tabbar-with-chat" class="mui-control-content mui-active">
								<div id="slider" class="mui-slider">
									<div id="sliderSegmentedControl" class="mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
										<a class="mui-control-item mui-active" href="#item1mobile">
										个性推荐
										</a>
										<a class="mui-control-item" href="#item2mobile">
										歌单
										</a>
										<a class="mui-control-item" href="#item3mobile">
										主播电台
										</a>
										<a class="mui-control-item" href="#item4mobile">
										排行榜
										</a>
									</div>
									<div id="sliderProgressBar" class="mui-slider-progress-bar mui-col-xs-3"></div>
									<div class="mui-slider-group">
										<div id="item1mobile" class="mui-slider-item mui-control-content mui-active">
											<div id="scroll1" class="mui-scroll-wrapper">
												<!--<div class="mui-scroll">-->
													<ul class="mui-table-view">
														<li class="mui-table-view-cell">
															<div id="slider2" class="mui-slider" >  
													            <div class="mui-slider-group mui-slider-loop">  
													                <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->  
													                <div class="mui-slider-item mui-slider-item-duplicate">  
													                    <a href="#" style="height: 150px; text-decoration: none">  
													                        <img style="height: 150px;" src="img/one.jpg">
													                    </a>  
													                </div>  
													                <!-- 第一张 -->  
													                <div class="mui-slider-item">  
													                    <a href="#" style="height: 150px; text-decoration: none">  
													                        <img style="height: 150px;" src="img/two.jpg">  
													                    </a>  
													                </div>  
													                <!-- 第二张 -->  
													                <div class="mui-slider-item">  
													                    <a href="#" style="height: 150px; text-decoration: none">  
													                        <img style="height: 150px;" src="img/three.jpg"> 
													                    </a>  
													                </div>  
													                <!-- 第三张 -->  
													                <div class="mui-slider-item">
													                    <a href="#" style="height: 150px; text-decoration: none">  
													                        <img style="height: 150px;" src="img/four.jpg">  
													                    </a>  
													                </div>  
													                <!-- 第四张 -->  
													                <div class="mui-slider-item">  
													                    <a href="#" style="height: 150px; text-decoration: none">  
													                        <img style="height: 150px;" src="img/one.jpg">
													                    </a>  
													                </div>  
													                <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->  
													                <div class="mui-slider-item mui-slider-item-duplicate">  
													                    <a href="#" style="height: 150px; text-decoration: none">  
													                        <img style="height: 150px;" src="img/two.jpg">  
													                    </a>  
													                </div>  
													            </div>  
													            <div class="mui-slider-indicator">  
													                <div class="mui-indicator mui-active"></div>  
													                <div class="mui-indicator"></div>  
													                <div class="mui-indicator"></div>  
													                <div class="mui-indicator"></div>  
													            </div>  
													        </div>  
														</li>
														<li class="mui-table-view-cell">
															<div id="app5">
																<table width="100%" border="0" cellspacing="0" cellpadding="0">
																  <tr>
																    <td align="center"><img style ="width: 60px;" src="img/myfm.png"></td>
																    <td align="center"><img style ="width: 60px;" src="img/date.png"><span id="erveryday"></span></td>
																    <td align="center"><img style ="width: 60px;" src="img/dcloudhot.png"></td>
																  </tr>
																  <tr>
																    <td align="center">私人FM</td>
																    <td align="center">每日歌曲推荐</td>
																    <td align="center">云音乐热歌榜</td>
																  </tr>
																</table>
																	<!--<ol>
																		<li v-for="items in item">
																			 <img v-bind:src = items.imgsrc>
																			{{items.name}}</li>
																	</ol>-->
															</div>
														</li>
														<li class="mui-table-view-cell">
															<div id="app6">
																<h5>推荐歌单</h5>
																<ul class="mui-table-view mui-grid-view">
															        <li class="mui-table-view-cell mui-media mui-col-xs-4">
															            <a href="#">
															                <img class="mui-media-object" src="http://p1.music.126.net/Guts-lgusjkkOVn07JVOZg==/109951162839310079.jpg?param=140y140">
															                <div class="mui-media-body">|复古味| 小酒馆的微醺慢时光——</div></a></li>
															        <li class="mui-table-view-cell mui-media mui-col-xs-4">
															            <a href="#">
															                <img class="mui-media-object" src="http://p1.music.126.net/eVn7_QRteYnr6xIUNqovKg==/18821440046007508.jpg?param=140y140">
															                <div class="mui-media-body">「跑步必备」一颗强大的心脏需要节奏的预热</div></a></li>
															        <li class="mui-table-view-cell mui-media mui-col-xs-4">
															            <a href="#"><img class="mui-media-object" src="http://p1.music.126.net/W6Hii--iDQk5IoO3o7LMIw==/1275433488288864.jpg?param=140y140">
															                <div class="mui-media-body">背景音乐珍藏，总有一天你会用上的</div></a></li>
															        <li class="mui-table-view-cell mui-media mui-col-xs-4">
															            <a href="#">
															                <img class="mui-media-object" src="http://p1.music.126.net/u-2mUMMQyIgBbvMknz8sCA==/19085322834978932.jpg?param=140y140">
															                <div class="mui-media-body">Tips 如何让她喜笑颜开</div></a></li>
													                <li class="mui-table-view-cell mui-media mui-col-xs-4">
													            		<a href="#">
													                		<img class="mui-media-object" src="http://p1.music.126.net/inF4XDC647GUA9oQvUWJVA==/18698294743642359.jpg?param=140y140">
													                		<div class="mui-media-body">「民谣」你要学会长大，一个人抵过千军万马</div></a></li>
													                		<li class="mui-table-view-cell mui-media mui-col-xs-4">
												            		<a href="#">
												                		<img class="mui-media-object" src="http://p1.music.126.net/r_hTvhq4l_aTfdGzu2XyZg==/18934689741969595.jpg?param=140y140">
												                		<div class="mui-media-body">穿透灵魂的低频幻境，欲罢不能的精神毒药</div></a></li>
															    </ul>
															</div>
														</li>
													</ul>
												<!--</div>-->
											</div>
										</div>
										<div id="item2mobile" class="mui-slider-item mui-control-content">
											<div id="scroll2" class="mui-scroll-wrapper">
												<div class="mui-scroll">
													<div class="mui-loading">
														<div class="mui-spinner">
														</div>
													</div>
												</div>
											</div>	
										</div>
										<div id="item3mobile" class="mui-slider-item mui-control-content">
											<div id="scroll3" class="mui-scroll-wrapper">
												<div class="mui-scroll">
													<div class="mui-loading">
														<div class="mui-spinner">
														</div>
													</div>
												</div>
											</div>
										</div>
										<div id="item4mobile" class="mui-slider-item mui-control-content">
											<div id="scroll4" class="mui-scroll-wrapper">
												<div class="mui-scroll">
													<div class="mui-loading">
														<div class="mui-spinner">
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div  id="tabbar-with-contact" class="mui-control-content" style="margin-bottom: 60px;">
								<div  id="app9">
									<ul>
										<li v-for="mc in mContent">
											<div class="mui-card-header mui-card-media">
												<img v-bind:src=mc.myPic>
												<div class="mui-media-body">
													{{mc.myName}}&nbsp;{{mc.showType}}<span style="float: right;" id="foplus">关注</span>
													<p>发表于 {{mc.outTime}}</p>
													
												</div>
												
												<!--<img class="mui-pull-left" src="../images/logo.png" width="34px" height="34px" />
												<h2>小M</h2>
												<p>发表于 2016-06-30 15:30</p>-->
											</div>
											<div class="mui-card-content" >
												<img v-bind:src = mc.comPic>
												<p id="location">定位中...</p>
											</div>
											<div class="mui-card-footer">
												<a class="like">{{mc.likeNum}}</a>
												<a class="comment">{{mc.commonNum}}</a>
												<a class="share">{{mc.shareNum}}</a>
											</div>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div id="bottomshow" style="position: absolute;bottom: 0px;z-index: 999;">
					<img id="singerpic" src="img/app.png"/>
					<!--<div id="runorstop" style="float: right;">
						<a id='more'></a>
					</div>-->
					<div style="display: inline-block;">
						<a class="songname">春天里</a>
						<a class="songname">汪峰</a>
						
					</div>
					<span id="playorlist" style="float: right;margin-top: 13px;"></span>
				</div>
				</div>
				
				<!-- off-canvas backdrop -->
				<div class="mui-off-canvas-backdrop"></div>
			</div>
		</div>
		<script src="js/mui.js"></script>
		<script type="text/javascript" src="js/vue.js" ></script>
		
		<script>
			mui.init({  
					swipeBack: false,
                    subpages:[//先加载首页  
                        {  
                          url:'index.html',  
                          id:'index',  
                          /*styles:{  
                             top:'0px',  
                                bottom:'60px'  
                          }*/  
                           styles: {bottom:'51px', bounce: 'vertical' } 
                        }  
                         
                    ], 
                    preloadPages:[//缓存其他页面  
                        {  
                          url:'home/mine.html',  
                          id:'mine', 
                          styles:{
                          	top:'50px'
                          }
                        },
                        {  
                          url:'home/find.html',  
                          id:'find', 
                          styles:{
                          	top:'50px'
                          }
                        },
                        {  
                          url:'home/dstate.html',  
                          id:'dstate', 
                          styles:{
                          	top:'50px'
                          }
                        }
                    ]  
                      
                });
			 //主界面和侧滑菜单界面均支持区域滚动；
			mui('#offCanvasSideScroll').scroll();
			mui('#offCanvasContentScroll').scroll();
			 //实现ios平台原生侧滑关闭页面；
			if (mui.os.plus && mui.os.ios) {
				mui.plusReady(function() { //5+ iOS暂时无法屏蔽popGesture时传递touch事件，故该demo直接屏蔽popGesture功能
					plus.webview.currentWebview().setStyle({
						'popGesture': 'none'
					});
				});
			}
			var slider2 = mui("#slider2");
			
			//plus.webview.currentWebview().setStyle({scrollIndicator:'none'});
            slider2.slider({  
    			interval: 1000
        	});
            /*(function($) {
				$('#scroll1').scroll({
					indicators: false //是否显示滚动条
				});
				$('#offCanvasSideScroll').scroll({
					indicators: false //是否显示滚动条
				});
				$('#offCanvasContentScroll').scroll({
					indicators: false //是否显示滚动条
				});
			});*/
			/*$.('.mui-scroll-wrapper').scroll({
				indicators: true //是否显示滚动条
			})(mui);*/
			//每日歌曲推荐
			var _date = new Date();
			var _everydate = document.getElementById('erveryday').innerHTML = _date.getDate();
			//根据选择获取各个面板
			var html2 = '<ul class="mui-table-view"><li class="mui-table-view-cell">第二个选项卡子项-1</li></ul>';
			var item2 = document.getElementById('item2mobile');
			var html3 = '<ul class="mui-table-view"><li class="mui-table-view-cell">第三个选项卡子项-1</li></ul>';
			var item3 = document.getElementById('item3mobile');
			var html4 = '<ul class="mui-table-view"><li class="mui-table-view-cell">第四个选项卡子项-1</li></ul>';
			var item4 = document.getElementById('item4mobile');
			document.getElementById('slider').addEventListener('slide', function(e) {
				if(e.detail.slideNumber === 1) {
					if(item2.querySelector('.mui-loading')) {
						setTimeout(function() {
							item2.querySelector('.mui-scroll').innerHTML = html2;
						}, 500);
					}
				} else if(e.detail.slideNumber === 2) {
					if(item3.querySelector('.mui-loading')) {
						setTimeout(function() {
							item3.querySelector('.mui-scroll').innerHTML = html3;
						}, 500);
					}
				}else if(e.detail.slideNumber === 3) {
					if(item4.querySelector('.mui-loading')) {
						setTimeout(function() {
							item4.querySelector('.mui-scroll').innerHTML = html4;
						}, 500);
					}
				}
			});
			var isPlay = 'false';
			document.getElementById('playorlist').addEventListener('tap',function(e){
				console.log(234567);
				document.getElementsByTagName('span')[13].outerHTML='<span id="playorlistchange" style="float: right;margin-top: 13px;"></span>';					
					
			},false);
			/*var app4  = new Vue({
				el:'#app4',
				data:{
					item:[
						{name:'个人皮肤'},
						{name:'听歌识曲'},
						{name:'定时停止播放'},
						{name:'音乐闹钟'},
						{name:'驾驶模式'},
						{name:'音乐云盘'},
					]
				}
			});*/
			var app8 = new Vue({
				el:'#app8',
				data:{
					item:[
						{name:'本地音乐',imgsrc:'img/mo.png',num:7},
						{name:'最近播放',imgsrc:'img/mn.png',num:10},
						{name:'下载管理',imgsrc:'img/mp.png',num:17},
						{name:'我的电台',imgsrc:'img/mp.png',num:8},
						{name:'我的收藏',imgsrc:'img/mp.png',num:9}
					]
				},
				methods:{
					onSonglistDetail: function(){
						console.loge(index);
					},
					choose: function () {
             			console.log(321315325);
            		}
				}
			});
			var _date2= new Date();
			var app9 = new Vue({
				el:'#app9',
				data:{
					mContent:[
						{myPic:'img/mp.png',myName:'Faker',showType:'发布文字',outTime:_date2.getHours()+':'+_date2.getMinutes(),content:'你的意识决定整个游戏的成败',comPic:'img/mo.png',type:'text',outAuther:'---掌上联盟',likeNum:'1000',commonNum:'999',shareNum:'670'},
						{myPic:'img/mp.png',myName:'Faker',showType:'发布文字',outTime:'14:30',content:'你的意识决定整个游戏的成败',comPic:'img/mo.png',type:'text',outAuther:'---掌上联盟',likeNum:'1000',commonNum:'999',shareNum:'670'}
					]
				}
			});
			//document.getElementsByTagName('ul')[0].getElementsByTagName('li')[0].style.color = "#2AC845";
			//document.getElementsByTagName('ul')[0].getElementsByTagName('li')[0].style.before
			//console.log(document.getElementsByTagName('ul')[0].getElementsByTagName('li'));
			/*mui(".mui-bar-tab").on('tap','.mui-tab-item',function(){
			 //获取id
			  var id = this.getAttribute("id");
			  //传值给详情页面，通知加载新数据
			  //mui.fire(mine,'getMine',{id:id});
			  //打开新闻详情
			  mui.openWindow({
			    id:'mine',
			    url:'home/mine.html',
			  });
			})*/
			document.addEventListener('touchstart', function(event) {
				console.log(3213123132131);
			    // 判断默认行为是否可以被禁用
			    if (event.cancelable) {
			    	console.log(event.defaultPrevented);
			        // 判断默认行为是否已经被禁用
			        if (!event.defaultPrevented) {
			        	console.log(4564645645);
			            event.preventDefault();
			        }
			    }
			}, false);
			/*mui.plusReady(function(){   
                // 获取所有Webview窗口  
                var winAll=plus.webview.all();//获取所有窗体  
                console.log(JSON.stringify(winAll))
                var mine,find,dstate  
                mui("#nav").on("tap","#mine",function(){//点击触发   
                	console.log(32123132);
                    mine=plus.webview.getWebviewById("mine"); 
                    console.log(JSON.stringify(mine))   
                    mine.show()  
	                find.hide()//这一步必须有  
	                dstate.hide()//这一步必须有  
                })   
                mui("#nav").on("tap","#find",function(){//点击触发  
                    find=plus.webview.getWebviewById("find");  
                    find.show()  
                      
                })  
                mui("#nav").on("tap","#dsate",function(){//点击触发  
                    dstate=plus.webview.getWebviewById("dsate");  
                    dstate.show()  
                      
                })  
            }); */
		</script>
	</body>

</html>